.subtitle-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.item:first-child {
    flex: 3;
    display: inline-flex;
    justify-content: center;
}

.item:last-child {
    flex: 2;
}

.item>video {
    max-width: 100%;
}

.item:last-child {
    max-width: 40%;
    margin-left: 1rem;
}

.item>ul {
    padding: .75rem;
    width: fit-content;
    max-width: 100%;
    max-height: 60vh;
    overflow-y: scroll;
    border: 1px solid #ccc;
}

.item>ul>li {
    cursor: pointer;
    list-style: none;
}

.item>ul>li>span {
    display: inline-block;
    max-width: 100%;
}

.current-line {
    font-size: 1.15rem;
    color: #4299e1;
}

.timeline {
    font-size: 0.75rem;
    user-select: none;
    padding: 0.25rem;
    font-weight: 100;
}

.subtitle-box {
    position: relative;
}

.subtitle-switch {
    display: flex;
    position: absolute;
    bottom: -7px;
    left: 1px;
    font-size: 12px;
}

.show-copied::after {
    position: absolute;
    width: max-content;
    left: 6rem;
    margin-left: .2rem;
    content: '播放位置已复制';
    font-size: 11px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    padding: 3px 6px;
    background-color: #3b75f4;
    border-radius: 5px;
    color: #fff;
}

@media screen and (orientation:portrait) {
    .item>ul {
        max-height: 45vh;
    }

    .item:last-child {
        margin-left: 0;
        margin-bottom: 2rem;
        min-width: 100%;
    }

    .item>ul {
        width:94%;
    }

    .subtitle-container {
        flex-direction: column;
    }
}